/* CSS Index
---------------------------------------
1. HERO SECTION 
2. WHO WE ARE SECTION
3. OUR CORE VALUE SECTION 

*/

/*********************************************/
/*             1. HERO SECTION CSS                 "/
/*********************************************/

.hero-section {
  font-weight: 700 !important;
  font-style: normal;
}

.hero-section .hero-section__img-background {
  width: 100%;
  height: 20vh;

  background-image: linear-gradient(
      to bottom right,
      #000 0%,
      rgba(0, 0, 0, 0.5) 50%,
      transparent 100%
    ),
    url("../assets/images/car-images/desktop-optimised/car-bg-black.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
  .hero-section .hero-section__img-background {
    height: 30vh;
  }
}

.home__h1 {
  font-size: var(--semi-large-fs);
  font-weight: 700;
  color: var(--grey);
}

@media (min-width: 800px) {
  .home__h1 {
    font-size: var(--large-fs);
  }
}


.home__h2 {
  font-size: var(--semi-medium-fs);
  font-weight: 700;
}

@media (min-width: 800px) {
  .home__h2 {
    font-size: var(--semi-large-fs);
  }
}


@media (min-width: 800px) {


section p {
  font-size: var(--semi-medium-fs);
}
}


section p {
  font-size: var(--small-fs);
}

/*********************************************/
/*   2. WHO WE ARE SECTION CSS           "/
/*********************************************/


article {
  width:80%;
}


@media (max-width: 800px) {


article {
  width:100%;
}

}

.who-we-are {
  margin-bottom: var(--large-spacing);
  border: 1px solid var(--light-yellow);
  background-color: var(--mid-black);

  
  color: var(--light-yellow);
}

.who-we-are p {
  color: var(--light-yellow);
}


@media (min-width: 800px) {
  .who-we-are {
    margin-bottom: var(--extra-large-spacing);
  }
  .who-we-are,
  .core-values {
    padding: var(--large-spacing);
  }
}


/*********************************************/
/* 3. OUR CORE VALUES SECTION CSS           "/
/*********************************************/

.core-values {
  color: var(--light-yellow);
  border: 1px solid var(--light-yellow);
  background-color: var(--mid-black);
}

.core-values p {

  color: var(--light-yellow);
}

@media (min-width: 800px) {
footer p {
    font-size: var(--semi-medium-fs);
  }
}



