/* CSS Index
---------------------------------------
1. CONTACT US CSS
2. FORM CSS

*/

/*********************************************/
/*              CONTACT US CSS                 "/
/*********************************************/

body {
  background-color: var(--grey);
}

.contact-us__section {
  margin-top: var(--medium-spacing);
  margin-bottom: var(--extra-large-spacing);
}

.content {
  border-radius: 20px;


background: rgb(0,0,0);
background: linear-gradient(113deg, rgba(0,0,0,1) 0%, rgba(11,11,11,1) 0%, rgba(24,24,23,1) 21%, rgba(226,188,24,0.9864320728291317) 78%);

  margin: var(--medium-spacing);
  padding: var(--medium-spacing);
}

@media (min-width: 900px) {
  .content {
    margin: var(--medium-spacing) var(--extra-large-spacing);
    padding: var(--medium-spacing);
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--semi-large-fs);
  font-weight: 900;
  color: var(--mid-black);
  margin: var(--medium-spacing);
}

@media (min-width: 900px) {
  h1 {
    margin: var(--medium-spacing);
    font-size: var(--large-fs);
  }
}


h2 {
  font-size: var(--medium-fs);
  font-weight: 900;
}

.contact-us__section-h2 {

  color: white;
}

@media (min-width: 900px) {
  h2 {
    font-size: var(--large-fs);
    width: 80%;
  }
}
/*********************************************/
/*              FORM CSS                 "/
/*********************************************/

.form__wrapper {
  width: 100%;
  margin-top: var(--medium-spacing);
}

@media (min-width: 900px) {
  .form__wrapper {
    margin-top: var(--medium-spacing);
    width: 60%;
  }
}
